.servico-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    margin-top: 13vh;
}
.cards-content{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 50px;
    margin-top: 30px;
    margin-bottom: 30px;
    width: 100%;

}

.cardText {
    text-align: justify;
    color: #96C5B0;
}

.buttonCard {
    background-color: #755B69 !important;
    border: none !important;
    color:  #ADF1D2 !important;
}

.buttonCard:hover {
    background-color: #553555 !important;
    border: 1px solid #ADF1D2 !important;
    transition: 1s !important;
}